
.landing-content {
    margin: 5rem 0rem 1rem 0rem;
}

.left-text{
    font-size: 35pt;
    font-weight: bold;
    color: #2b7535;
    text-align: left;
}

.button-design{
    // font-weight: bold;
    font-size: 15pt;
    color: #c1f5c7;
    margin-right: 10pt;
    text-align: center;
    align-content: center;
    // background-color: yellow;
}

.futsal-picture{
    border-radius: 25pt;
    position: relative;
}

.volleyball-picture{
    position: absolute;
    top: 300px;
    border-radius: 20pt;
    left: 220px;
}

.basketball-picture{
    position: absolute;
    top: 300px;
    border-radius: 20pt;
    left: 10px;
}

.photos-div{
    position: relative;
    margin-top: 15pt;
}

.bottom-text{
    font-size: 22pt;
    color: black;
    text-align: justify;
}

.container-bottom{
    margin-top: 160px;
    padding-bottom: 20pt;
}

.container-bottom-htp{
    margin-top: 60px;
}

.right-text{
    font-style: italic;
    font-size: 20pt;
    font-weight: normal;
    color: #2b7535;
    text-align: left;
}

.about-text{
    font-style: italic;
    font-size: 20pt;
    font-weight: bold;
    color: #1a1c1b;
    text-align: center;
}

.htpl-text{
    font-style: italic;
    font-size: 20pt;
    font-weight: bold;
    color: #1a1c1b;
    text-align: center;
}