<app-landing-menu></app-landing-menu>
<div class="landing-content">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 left-text">
                <span> Find team and play sport which you want. 
                       Your new teammates wait for you!
                </span>
                <div>
                    <span >
                        <button *ngIf = "!userLogged" class="button-design button btn btn-dark" [routerLink]="['/register']"> Register now</button>
                        <button *ngIf = "userLogged" class="button-design button btn btn-dark" [routerLink]="['/user/profile']"> Profile </button>
                        <button *ngIf = "!userLogged" class="button-design button btn btn-info" [routerLink]="['/login']"> Login </button>
                        <button *ngIf = "userLogged" class="button-design button btn btn-info" [routerLink]="['/user/home']"> Find people</button>
                    </span>
                </div>

            </div>
            <div class="col-md-6 photos-div">
                <img class="futsal-picture" src="assets/img/background-view/futsal.jpg" alt="picture-fsl" width="650" height="340">
                <img class="volleyball-picture" src="assets/img/background-view/vlb.jpg" alt="picture-vlb" width="450" height="120">
                <img class="basketball-picture" src="assets/img/background-view/bskt.jpg" alt="picture-bskt" width="210" height="120">
            </div>
        </div> 

    </div>
    <div style="background-color: #cfd1d0;" >
        <div class="container container-bottom" >
            <div class="row" >
                <div class="col-lg-4 about-text">
                    <img src="assets/img/brand/lgo.png" alt="logo" width="150" height="160" style="border-radius: 10pt; margin-top: 20pt;">
                    <br>About app

                </div>
                <div class="col-lg-8 right-text" style="margin-top: 20pt;">
                    Teamchevic je aplikacija napravljena sa ciljem da ljudi koji zele igrati neki od 
                    grupnih sportova na lak i jednostavan nacin pronadju saigrace, odrede vreme i mesto i 
                    uzivaju zajedno u carima sporta i druzenja.
                </div>
                
            </div>
        </div>
    </div>
    

    <div >
        <div class="container container-bottom-htp">
            <div class="row">
                <div class="col-lg-8 right-text" style="margin-top: 30pt;">
                    Aplikacija se koristi na lak i bezbedan nacin. Ukoliko nemate nalog potrebno je da ga napravite,
                    ukoliko imate potrebno je da se ulogujete, odaberete sport i nadjete dostupnu ekipu za vreme i mesto
                    koje vam odgovara.
                </div>

                <div class="col-lg-4 htpl-text">
                    How to play 
                    <img src="assets/img/brand/htply.jpg" alt="logo" width="300" height="190" style="border-radius: 10pt; margin-top: 5pt;">
                </div>
                
                
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>