:host {
    ::ng-deep .navbar-brand {
        width: auto;
    }
}

app-header {
    background-color: #455A64;

    a {
        color: #CFD8DC;
    }
}

app-sidebar {
    background-color: #006F73;
}

.app-body {
    background-color: #4DBABD;
}

.main {
    margin-bottom: 1rem;
}

.container-fluid {
    margin-top: 15px;
}
