<app-header
  [fixed]="true"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo1.png', width: 30, height: 30, alt: 'teamchevic'}">
  <ul class="nav navbar-nav d-md-down-none">
    <!-- <li class="nav-item px-4">
      <img src="assets/img/brand/logo1.png" alt="logo" width="60" height="48">
    </li> -->
   
    
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li *ngIf="user" class="nav-item dropdown" dropdown placement="bottom right">

      <a class="nav-link" data-toggle="dropdown"  role="button" aria-haspopup="true" style="cursor: pointer;" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>

      <div class = "dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#" [routerLink]="['/user/update']"><i class="fa fa-bell-o"></i> Update profile<span class="badge badge-info">1</span></a>
        <a class="dropdown-item" [routerLink]="['/user/home']"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">2</span></a>
        <a class="dropdown-item" href="#" [routerLink] = "['/user/match-form/football/beginner']"><i class="fa fa-tasks"></i> Match <span class="badge badge-danger">1</span></a>
        <a class="dropdown-item" href="#" [routerLink]="['/user/home']"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">2</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#" [routerLink]="['/user/profile']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#" [routerLink]="['/user/update']"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#" [routerLink]="['/user/home']"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#" [routerLink]="['/user/home']"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#" [routerLink]="['/user/update']"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>

    </li>
    <li *ngIf="!user">
        <a class="nav-link" [routerLink]="['/login']"><strong>Sign In/Sign Up</strong></a>
    </li>
    <li *ngIf="user" class="nav-item px-3" style="cursor: pointer;" (click)="logout()">
        <a class="nav-link"><strong>Logout</strong></a>
    </li>
  </ul>
</app-header>