
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <div *ngIf="validToken==='valid'">
                    <h1>Your account has been verified. Let the games begin!</h1>
                    <div class="col-md-3">
                        <button [routerLink]="['/login']" type="button" class="btn btn-block btn-success">Go to login page!</button>
                    </div>
                </div>
                <div *ngIf="validToken==='invalid'">
                    <h1>Invalid request.</h1>
                    <button [routerLink]="['/login']" type="button" class="btn btn-block btn-danger">Go to login page...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  