.app-body {
    padding-top: 2rem;
    padding-bottom: 35rem;
}

:host {
    ::ng-deep .app-body {
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('../../../assets/img/background-view/soccernotver.jpg');
    }

    @media only screen and (max-width: 800px) {
        ::ng-deep .app-body {
            margin: 0;
            background-image: url('../../../assets/img/background-view/ronaldo-responsive.jpg');
        }
    }
}