
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <h1>Please verify your account from your email address.</h1>
                <br><br>
                <div class="col-md-4">
                    <button [routerLink]="['/login']" type="button" class="btn btn-block btn-success">Go to login page!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  