.row {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-radius: .5rem;
}

.card-header {
    margin-bottom: 2rem;
    background-color: #006F73;
    h2 {
        color: whitesmoke;
        font-variant: small-caps;
    }
}

.card {
    background-color: #008B8E;
    input {
        background-color: #006F73;
        color: whitesmoke;
        font-variant: small-caps;
    }
    textarea {
        background-color: #006F73;
        color: whitesmoke;
        font-variant: small-caps;
    }
    select {
        background-color: #006F73;
        color: whitesmoke;
        font-variant: small-caps;
    }
}

::placeholder {
    color: whitesmoke;
}

.host {
    ::ng-deep .ui-inputfield {
        border-color: #6699CC  !important;
        font-weight: normal !important;
    }
}

.inlinee {
    display: flex;
    flex-direction: row;
}

:host::ng-deep {
    .ui-chkbox-label {
        font-variant: small-caps;
        color: whitesmoke;
    }
    .ui-chkbox-box {
        background-color: #006F73;
    }
    .ui-chkbox {
        background-color: #006F73;
    }
}
