<div class="row animated fadeIn">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h2>Update User</h2>
            </div>
            <div class="col-md-12">
                <form [formGroup]="updateUserForm">
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">First name</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Firt name..." required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Last name</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Last name..." required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Phone number</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone number..." >
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Birth year</h6>
                        </div>
                        <select class="form-control" formControlName="age">
                            <option value="" disabled>Select birth year...</option>
                            <option *ngFor="let year of birthYears">{{year}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Email</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="email" placeholder="Email..." >
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Password</h6>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password..." >
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">City</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="city" placeholder="City..." >
                    </div>
                    <div class="input-group mb-3">
                        
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Category</h6>
                        </div>
                        <select class="form-control" formControlName="category">
                            <option value="" disabled>Select category...</option>
                            <option *ngFor="let category of playerCategories">{{category}}</option>
                        </select>
                    </div>
                    <div>
                        <button (click)="submitForm()" [disabled]="!(updateUserForm.valid && updateUserForm.dirty)" style="font-variant: small-caps; margin-bottom: 1rem;" type="button" class="btn btn-block btn-outline-light"><i class="icon-arrow-down-circle"></i> Save Changes</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
