<div *ngIf="user" class="row">
    <div class="col-md-12">
        <div class="card card-user">
          <div class="image">
                <img src="/assets/img/background-view/user-profile-heading.jpg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
            
                <div class="profile-userpic">
                    <img *ngIf="!backUser || (backUser.profilePicturePath=='')" class="avatar" src="/assets/img/avatars/default-user-image.png" alt="">
                    <img *ngIf="backUser && (backUser.profilePicturePath!='')" class="avatar" src="{{backUser.profilePicturePath}}" alt="...">
                    
                    <button *ngIf="!userident" (click)="!userident && fileUpload.click()" class="btn btn-dark btn-sm change-pic-button">
                        <i class="fa fa-camera"></i>
                    </button>
                </div>

              <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
              accept="*/*">

              <h5 class="title">{{backUser.firstName}} {{backUser.lastName}}</h5>
              <h6>{{backUser.category}}</h6>
              
              <p class="rating">
                <p-rating [ngModel]="4" [cancel]="false" [disabled]="true"></p-rating>
                <span style="font-size: 10px; margin-top: 8px;">11 votes</span>
              </p>

              <p class="description">
                @username
              </p>

              <p class="description text-center font-weight-light font-italic"> "I like the way you work it <br> No diggity <br> I wanna bag it up" </p>

              <p class=""><i class="fa fa-birthday-cake"></i> {{currentYear - backUser.age}}, <i class="fa fa-map-marker"></i> {{backUser.city}}</p>
             
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="button-container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6 ml-auto">
                  <h5>1045
                    <br>
                    <small>Played</small>
                  </h5>
                </div>
                <div class="col-lg-6 col-md-6 col-6 mr-auto">
                  <h5>1090
                    <br>
                    <small>Created</small>
                  </h5>
                </div>
              </div>
              <div *ngIf="!userident" class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-outline-dark my-2" routerLink="/user/update">
                        <i class="fa fa-pencil"></i> Update profile
                    </button> 
                    </div>
              </div>
            </div>
          </div>
        </div>  
</div>
