.card {
    background-color: #4f8a8b;
    color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    .avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .image {
        overflow: hidden;
        img {
            border-radius: 12px;
        }
    }
    .author {
        text-align: center;
        text-transform: none;
        margin-top: -77px;

        .title {
            color: #07031a;
            font-size: 1.57em;
            font-weight: 800;
        }

        h5 {
            margin-bottom: 15px;
        }
    
        .rating {
            color: #fbd46d;
        }

        a+p.description {
            margin-top: -7px;
        }

        p.description {
            color: #f4f6ff;
            font-size: 1.14em;
        }
    }

    .card-header {
        padding: 15px 15px 0;
        border: 0;
    }

    .card-footer {
        background-color: transparent;
        color: #fbd46d;
        border: 0;

        .stats, .card-description, .description, .footer-big p {
            color: #9a9a9a;
        }
    }
}

.card-user {
  .avatar {
    width: 124px;
    height: 124px;
    border: 3px solid #4f8a8b;
    position: relative;
    object-fit: cover;
    box-shadow: 0 6px 10px -4px #07031a;
  }
  .image {
      height: 135px;

      img {
        max-width: 100%;
      } 
  }

  .button-container {
    margin-bottom: 6px;
    text-align: center;
  }

  .card-body+.card-footer {
    padding-top: 0;
  }
}

.profile-userpic {
    position: relative;
    .change-pic-button {
        position: absolute;
        border-radius: 15px;
        bottom: 5%;
        left: 52%;
        border: 2px solid #07031a;
    }
}
