<div class="row animated fadeIn">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h2>Match: {{sport}} - {{category}}</h2>
            </div>
            <div class="col-md-12">
                <form [formGroup]="matchForm">
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Name</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="name" placeholder="Name..." required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Place</h6>
                        </div>
                        <input type="text" class="form-control" formControlName="place" placeholder="Place..." required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Starting at</h6>
                        </div>
                        <p-calendar [inputStyle]="{'background-color':'#006F73'}" formControlName="startingAt" [showTime]="true" [showIcon]="true"></p-calendar>
                        <h4 style="color: whitesmoke; font-variant: small-caps; margin-left: 1rem;" *ngIf="startingAt.value">{{startingAt.value | date: 'MMMM d, y - HH : mm'}}</h4>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Ending at *optional</h6>
                        </div>
                        <p-calendar [inputStyle]="{'background-color':'#006F73'}" formControlName="endingAt" [showTime]="true" [showIcon]="true"></p-calendar>
                        <h4 style="color: whitesmoke; font-variant: small-caps; margin-left: 1rem;" *ngIf="endingAt.value">{{endingAt.value | date: 'MMMM d, y - HH : mm'}}</h4>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Description</h6>
                        </div>
                        <textarea type="text" class="form-control" formControlName="description" placeholder="Description..."></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Maximum number of players</h6>
                        </div>
                        <div class="col-md-12 inlinee" style="margin-left: 0; padding-left: 0;">
                            <div class="col-md-4" style="margin-left: 0; padding-left: 0;">
                                <input type="number" min="2" class="form-control" formControlName="availableNumberOfPlayers" placeholder="Av players..." required>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-12" style="margin-left: 0; padding-left: 0;">
                            <h6 style="font-variant: small-caps; color: whitesmoke;">Required number of players</h6>
                        </div>
                        <div class="col-md-4" style="margin-left: 0; padding-left: 0;">
                            <input type="number" min="2" class="form-control" formControlName="requiredNumberOfPlayers" placeholder="Req players..." required>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="margin-top: 2rem;">
                        <div class="col-md-12 inlinee" style="margin-left: 0; padding-left: 0;">
                           <div class="col-md-5" style="margin-left: 0; padding-left: 0;">
                                <p-checkbox binary="true" formControlName="isPublic" label="Public"></p-checkbox>
                           </div>
                        </div>
                    </div>
                    <div>
                        <button (click)="submitForm()" [disabled]="!matchForm.valid" style="font-variant: small-caps; margin-bottom: 1rem;" type="button" class="btn btn-block btn-outline-light"><i class="icon-plus"></i> Create Match</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>