.row {
    display: flex;
    justify-content: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

.player {
    display: flex;
    flex-direction: row;

    img {
        height: 2.3rem;
        width: 2.3rem;
        border-radius: 2rem;
    }
}

.players {
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: #E0E0E0;
    padding: 1.3rem;

    &-body {
        padding: .7rem;
        border: 1px solid gray;
        border-radius: .2rem;
        background-color: #E0E0E0;
    }
}

:host {
    ::ng-deep .match-header {
        height: 100%;
        background-color: #E0E0E0;
    }
}

.match-header {
    padding-top: 1rem;
    border: 1px solid gray;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

p {
    color: #F77E17;
    font-weight: 700;
}

h4 {
    color: #F77E17;
}

h1 {
    color: #F77E17;
}

.chat {
    background-color: #E0E0E0;
    height: 36rem;
    border-radius: 1rem;
    border: 1px solid gray;
    margin-top: 1rem;

    .content { 
        display: flex;
        flex-direction: column-reverse;
        height: 30rem;
        overflow-y: scroll;
        overflow-x: hidden;

        img {
            height: 2rem;
            width: 2rem;
            border-radius: 2rem;
        }


        .left-message {
            margin-top: .8rem;
            margin-right: 4rem;
            padding: .2rem 1rem 5px 1rem;
            width: fit-content;
            border-radius: .4rem;
            background-color: #8F9DB8;

            p {
                color: whitesmoke;
                font-weight: normal;
            }
        }

        .right-message {
            margin-top: .8rem;
            padding: .2rem 1rem 5px 1rem;
            width: fit-content;
            border-radius: .4rem;
            background-color: #465375;
            float: right;
            margin-left: 5rem;
            margin-right: 2rem;

            p {
                color: whitesmoke;
                font-weight: normal;
            }
        }
    }

    .input-area {
        height: 2rem;

        input[type=text] {
            padding:10px;
            border:0;
            border-radius: .8rem;
            height: 2rem;
            box-shadow:0 0 15px 7px rgba(0,0,0,0.2);
            background-color: whitesmoke;
            float: right;
          }
          input {
              width: 60%;
          }
    }
}

.userpic-button {
    box-shadow:0 0 15px 7px rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width: 8px;
    margin-left: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

  input:focus {
    outline:none !important;
}
