<div *ngIf="match" class="row">
    <div class="col-md-12" style="padding: 0; margin: 0;">
        <div class="match-header" style="padding: 2rem 1rem 2rem 5rem;">
            <h1>{{match.name}}</h1>
            <div class="basic info row" style="padding-top: 2rem;">
                <div class="col-md-3">
                    <p style="cursor: pointer;"  pTooltip="{{match.place}}" tooltipPosition="bottom"><i class="icon-location-pin"></i> {{match.place}}</p>
                </div>
                <div class="col-md-3">
                    <p><i class="icon-calendar"></i> {{match.startingAt | date: 'MMMM d'}}</p>
                </div>
                <div class="col-md-3">
                    <p><i class="icon-clock"></i> {{match.startingAt | date: 'HH:mm'}}</p>
                </div>
                <div class="col-md-3">
                    <p><i class="icon-user"></i> {{match.queueNumber}}/{{match.availableNumberOfPlayers}},  Required: {{match.requiredNumberOfPlayers}}</p>
                </div>
            </div>
            <div class="description" style="margin-top: 2rem;">
                <h4>{{match.description}}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="players">
            <div class="players-body">
                <div *ngFor="let player of userList">
                    <div class="player">
                        <img [routerLink]="['/user/profile/' + player.userID]" src="{{player.profilePicturePath}}" alt="" style="margin-right: .5rem; cursor: pointer;">
                        <p pTooltip="Age: {{player.age}}" tooltipPosition="top" style="color: grey; margin-top: 6px;">{{player.firstName}} {{player.lastName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="chat">
            <div class="col-md-11" style="max-width: 100%;">
                <div class="content">
                    <div *ngFor="let msg of messages">
                        <div *ngIf="msg.type == 'txt'">
                            <div *ngIf="msg.sender != myid" class="inline">
                                <img src="{{msg.senderPic}}" alt="" style="margin-right: .5rem; cursor: pointer; margin-top: 24px;">
                                <div class="left-message">
                                    <p>{{msg.text}}</p>
                                </div>
                            </div>
                            <div *ngIf="msg.sender == myid" class="right-message" style="max-width: 100%;">
                                <p>{{msg.text}}</p>
                            </div>
                        </div>
                        <div *ngIf="msg.type == 'img'">
                            <div *ngIf="msg.sender != myid" class="inline">
                                <img src="{{msg.senderPic}}" alt="" style="margin-right: .5rem; cursor: pointer; margin-top: 24px;">
                                <div class="left-message">
                                    <img src="{{msg.img}}" alt="" style="height: 10rem; width: 10rem; border-radius: 0;">
                                </div>
                            </div>
                            <div *ngIf="msg.sender == myid" class="right-message" style="max-width: 100%;">
                                <img src="{{msg.img}}" alt="" style="height: 10rem; width: 10rem; border-radius: 0;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-11">
                <div class="input-area inline">
                    <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
                        accept="image/*">
                    <button (click)="fileUpload.click()" class="btn btn-light userpic-button">
                        <i class="icon-camera"></i>
                    </button>
                    <input (keyup.enter)="sendMessage()" [(ngModel)]="currentMsgText" style="margin-left: 1rem; margin-right: 1rem;" type="text" placeholder="Enter message here...">
                    <button (click)="sendMessage()" class="btn btn-light userpic-button">
                        <i class="icon-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
