.cont {
    margin-top: 1rem;
}

.card {
    transition: all .5s ease-in-out;
    background-color: #424242;
    border-radius: .4rem;

    p {
        font-size: 16px;
        font-style: normal;
        font-variant: small-caps; 
        color:#FFD600;
        font-weight: 500;
    }
}

.card:hover {
    box-shadow: 0px 0px 5px 5px #EF5350;
    transform: scale(1.02);
    transform-origin: bottom;
}

button {
    font-weight: 600;
    border-radius: .6rem;
}

.create-match-section {
    margin-bottom: 1rem;

    button {
        border: .5px solid whitesmoke;
    }
}

.join {
    background: rgba(0,186,80,1);
    font-variant: small-caps;
}
.cancel {
    background-color: #D23B48;

}

@media only screen and (max-width: 800px) {
    .button1 {
        margin-bottom: .5rem;
    }
} 