<div class="row cont animated fadeIn">
    <div class="col-md-5 create-match-section">
        <button type="button" [routerLink]="['/user/match-form/' + sport + '/' + category.toString().toLowerCase()]" class="btn btn-pill btn-block btn-info"><i class="icon-plus"></i> Create match for {{sport}} - {{category}}</button>
    </div>
    <div class="col-md-3" *ngIf="refresh">
        <button type="button" (click)="refreshData()" class="btn btn-pill btn-block btn-info"><i class="icon-refresh"></i> New matches - Refresh</button>
    </div>
    <div *ngIf="dataSet.length > 0" style="margin: 0; padding: 0; width: 100%;">
        <div *ngFor="let match of dataSet; let i = index" style="margin: 0; padding: 0; width: 100%;">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{match.name}}</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <p style="cursor: pointer;"  pTooltip="{{match.place}}" tooltipPosition="bottom"><i class="icon-location-pin"></i> {{match.place}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p><i class="icon-calendar"></i> {{match.startingAt | date: 'MMMM d'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p><i class="icon-clock"></i> {{match.startingAt | date: 'HH:mm'}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p><i class="icon-user"></i> {{match.queueNumber}}/{{match.availableNumberOfPlayers}} | Required: {{match.requiredNumberOfPlayers}}</p>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3 button1">
                            <button [routerLink]="['/user/room/' + match.matchID]" type="button" *ngIf="appliedMatches.includes(match.matchID)" class="btn btn-block join active" aria-pressed="true">ENTER ROOM</button>
                            <button type="button" *ngIf="(!appliedMatches.includes(match.matchID)) && (!hideJoinButton) && lessThan(match.queueNumber, match.availableNumberOfPlayers)" class="btn btn-block join active" (click)="this.hideJoinButton = true; joinQueue(match.matchID)" aria-pressed="true">JOIN QUEUE</button>
                            <button type="button" *ngIf="appliedMatches.includes(match.matchID) && !hideButton" class="btn btn-block cancel active" (click)="this.hideButton = true; cancelQueue(match.matchID)" aria-pressed="true">CANCEL *watch for penalties*</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-block btn-outline-light"><i class="icon-share-alt"></i> Send</button>
                            <button type="button" class="btn btn-block btn-outline-light"><i class="icon-phone"></i> Report</button>
                        </div>
                        <div *ngIf="match.matchOwnerID==userId" class="col-md-1">
                            <button (click)="delete(match.matchID, i)" type="button" class="btn btn-block btn-outline-danger"><i class="icon-trash"></i></button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
