<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="registerForm">
                  <h1>Register</h1>
                  <p class="text-muted">Create your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-flag"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-emotsmile"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched)}">
                  </div>
                  <div class="input-group form-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched)}">
                    <div class="col-md-12">
                      <small *ngIf="!password.valid && (password.dirty || password.touched)" style="color: #D8000C;">Please enter  a password with 8 or more characters.</small>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Repeat password" formControlName="confirmPassword" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched)}">
                    <div class="col-md-12">
                      <label *ngIf="(password.value !== confirmPassword.value) && confirmPassword.touched" style="color: #D8000C;" class="small form-text">Please enter  a password with 8 or more characters.</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                      </span>
                    </div>
                    <select class="form-control" formControlName="age">
                      <option value="" disabled>Select birth year...</option>
                      <option *ngFor="let year of birthYears">{{year}}</option>
                   </select>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-plane"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="City" formControlName="city" required>
                  </div>
                  <button style="margin-bottom: 10pt;" type="button" (click)="submitForm()" [disabled]="!registerForm.valid" class="btn btn-block btn-success">Create Account</button>
                  <div  style="text-align: center;">
                    <a href="#" [routerLink]="['/landing/hom']"> Retrun to home page</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  