.app-body {
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.register-card {
    width: 40%;
}

:host {
    ::ng-deep .app-body {
        height: 100%;
        background-image: url('../../../assets/img/background-view/login-kids.jpg');
    }

    @media only screen and (max-width: 800px) {
        ::ng-deep .app-body {
            margin: 0;
            background-image: url('../../../assets/img/background-view/ronaldo-responsive.jpg');
        }
    } 
}

//https://cdn.vox-cdn.com/thumbor/sJocl8uA5eobk08aUCqFXtnbeLo=/0x87:3500x2056/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/45201342/450782386.0.jpg

@media only screen and (max-width: 900px) {
    .register-card {
        width: 100%;
    }
}