<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="loginForm">
                    <h1>Login</h1>
                    <p class="text-muted">Sign In to your account</p>
                    <div class="input-group form-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched)}">
                      <div class="col-md-12">
                        <small *ngIf="!email.valid && (email.dirty || email.touched)" style="color: #D8000C;">Please enter a valid email address.</small>
                      </div>
                    </div>
                    <div class="input-group form-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched)}">
                      <div class="col-md-12">
                        <small *ngIf="!password.valid && (password.dirty || password.touched)" style="color: #D8000C;">Please enter a password with 8 or more characters.</small>
                      </div>
                    </div>
                    <div *ngIf="errorMessage" class="row">
                      <div class="col-md-12">
                        <p class="text-danger">{{errorMessage}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" (click)="submitForm()" [disabled]="!loginForm.valid" class="btn btn-primary px-4">
                          <span *ngIf="authenticationStatus; else elseBlock " class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          {{authenticationStatus}}
                          <ng-template #elseBlock>Login</ng-template>
                        </button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="register-card card text-white bg-success py-5">
                <div class="card-body text-center">
                  <div style="margin-bottom: 15pt;">
                    <h2>Sign up</h2>
                    <p>If you don`t have account, feel free to fill form and join our community. <br> <strong>Let the games begin!</strong></p>
                    <button type="button" [routerLink]="['/register']" class="btn btn-primary active mt-3"
                            >Register Now!</button>
                  </div>
                  <div style="text-align: center;">
                    <a href="" [routerLink]="['/landing/hom']"> Return to home page </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  